# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
**/*.iml
**/.metadata

# Go
/backend/bin/
/backend/**/*.test
/backend/**/*.out
/backend/**/*.exe
/backend/**/*.dll
/backend/**/*.so
/backend/**/*.dylib
/backend/**/cover.out

# Flutter (if building from root)
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
